@font-face {
	font-family: 'SnowCapCyr';
	src: url('../fonts/snowcapcyr.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/snowcapcyr.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/snowcapcyr.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/snowcapcyr.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/snowcapcyr.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/snowcapcyr.svg#snowcapcyr') format('svg'); /* Chrome < 4, Legacy iOS */
}